/* ========== Section ========== */
.section {
  padding: var(--margin-desktop) var(--gutter);
}

.section-light {
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);
}

.section-surface {
  background-color: var(--surface);
  border-bottom: 1px solid var(--gray);
}

.section-dark {
  background-color: var(--charcoal);
  color: var(--white);
  border-bottom: 1px solid var(--charcoal);
}

.section h2 {
  text-align: center;
}

.section p {
  margin-bottom: var(--md);
}

@media (max-width: 768px) {
  .section {
    padding: var(--margin-mobile) var(--gutter);
  }
}
